<!DOCTYPE html>
<html>
<head>
  <title>M.G.H</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Changa+One|Raleway:900|Covered+By+Your+Grace|Jura:400,600|Metrophobic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7 offset2 main-header">
      <nav class='top-links span12'>
        <span class='link blue'><%= link_to "Home", home_index_path %></span><!--
        --><span class='link green'><%= link_to "Portfolio", home_portfolio_path %></span><!--
        --><span class='link purple'><%= link_to "Interests", home_interests_path %></span><!--
        --><span class='link orange'><%= link_to "Blog", posts_path %></span>
      </nav>
      <div class='title-container'>
        <%=link_to "/MICHAEL HINRICHS", home_index_path, :class => 'title' %>
      </div>
    </div>
    <div class='span3'>
      <ul class= 'slider'>
        <% if user_signed_in? %>
          <li><a>Hello, <%= current_user.email %>!</a></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<section class='container-fluid'>
  <div class='row-fluid'>
    <div class='span7 offset2 main-content'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <div class='span3 about-me'>
      <h2 class= 'about-header'>About Michael</h2>
      <p>Michael Hinrichs is a 22 year old UCSB Graduate starting a career in Web Development. He loves riding Ruby on Rails and takes much joy in reading blogs about cool new technologies like <a href="http://meteor.com/">Meteor</a> and <a href="http://angularjs.org/">Angular JS</a>. He also LOVES soccer, with a passion. Michael also feels extremely weird writing about himself in the third-person...If you are into nerdy web things, a fellow soccer enthusiast or someone who just wants to know more about M.G.H, you, my dear friend, are in the right place!<br>Enjoy!</p>
    </div>
  </div>
</section>
<footer>
</footer>
</body>
</html>
